@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
}

h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

h3 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

